/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,500|Roboto+Mono:400,500&amp;subset=cyrillic');


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #2d2e44;
$headingColor: #2d2e44;

$mainFontSize: 42px;
$mainFont: 'Roboto', Helvetica, sans-serif;
$headingFont: 'Roboto Condensed', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: -2px;
$headingTextTransform: none;
$headingFontWeight: 700;
$linkColor: #27c278;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );
$codeFont: 'Roboto Mono', Courier, monospace;

$heading1Size: 70px;
$heading2Size: 60px;
$heading3Size: 50px;
$heading4Size: 45px;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

section .code {
	font-family: $codeFont;
	font-weight: 400;

	&-strong {
		font-family: $codeFont;
		font-weight: 500;
	}
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------